* {
    background-color: purple;
}

h1 {
    text-align: center;
    color: whitesmoke;
    padding-bottom: 50px;
}

.container {
    
}

.dimension {
    display: flex;
    justify-content: space-around;
}

.fill {
    display: flex;
    justify-content: center;
}